@media (min-width: 1025px) and (max-width: 1199px){
    .top-header .col-xlcus-2 {
        -ms-flex: 0 0 12.666667%;
        flex: 0 0 12.666667%;
        max-width: 12.666667%;
    }
    .top-header .col-xlcus-4 {
        -ms-flex: 0 0 39.333333%;
        flex: 0 0 39.333333%;
        max-width: 39.333333%;
    }
    .top-header .col-xlcus-6 {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }
    .top-header .box-icon-right .header-acc {
        margin-right: 10px;
    }
}
@media (max-width: 1366px) {
    .top-header .box-swisa {
        padding-left: 7.5%;
    }
 }
 @media (max-width: 1024px) {
    .top-header .box-icon-right .header-acc span{
        display: none;
    }
    .top-header .box-icon-right .header-acc{
        margin-right: 0;
    }
    .top-header .list-search-key,
    .top-header .box-swisa{
        display: none;
    }
    .top-header .header-logo a {
        padding-bottom: 52px;
    }
    header .top-header .header-logo {
        order: 1;
        height: 52px;
        line-height: 52px;
        padding: 2px 5px 0;
        flex: 50%;
        max-width: 50%;
    }
    header .top-header .box-right{
        order: 2;
        flex: 50%;
        max-width: 50%;
    }
    .top-header>.container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-header>.container>.row>div:nth-child(2){
        order: 3;
    }
    .top-header .box-icon-right .cart-header,
    .top-header .box-icon-right .header-acc .img_acc {
        width: 36px;
        height: 36px;
    }
    .box-catelory{
        min-height: 40px;
    }
    .box-catelory .header-mid{
        position: absolute;
        z-index: 10;
        left: 0;
        top: 100%;
        background: #FFF;
        width: 100%;
        display: none;
    }
    .box-catelory .header-mid .header_hotline{
        display: none;
    }
    .box-catelory .header-mid .header-nav .nav{
        flex-direction: column;
    }
    .box-catelory .header-mid .header-nav .nav .nav-link{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top-header .list-top-item {
        float: right;
        width: calc(100% - 50px);
    }
    .top-header .list-top-item.header_tim_kiem form.search-bar input {
        height: 40px;
        line-height: 40px;
    }
    .top-header .list-top-item.header_tim_kiem form.search-bar .icon-fallback-text {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .top-header .list-top-item.header_tim_kiem form.search-bar .icon-fallback-text svg {
        width: 40px;
        height: 40px;
    }
    .top-header{
        border-bottom: none;
    }
    .header-menu .title_menu span{
        display: none;
    }
    .header-menu .title_menu{
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 5px;
        background: #663300;
        position: relative;
        display: inline-flex;
    }
    .header-menu .title_menu .menu, .header-menu .title_menu .menu, .header-menu .title_menu .menu::before, .header-menu .title_menu .menu::after {
        height: 1px;
    }
    .header-menu .title_menu .menu{
        top: 50%;
        left: 10px;
    }
    .wrap-header-main .container {
        padding: 0 10px;
    }
    .wrap-header-main {
        height: 45px;
    }
    .box-catelory .header-menu {
        margin-top: -49px;
        position: relative;
        left: 0;
        width: max-content;
        z-index: 10;
    }
    main#main {
        width: 100%;
        left: 0;
    }
    .wrap-header-main .menu_mega .blog-aside {
        box-shadow: 0 2px 3px #1c1c1c20;
        display: none;
    }
    .section_2_banner .three_banner img {
        height: auto;
    }
    .section_2_banner {
        margin-top: -20px;
    }
    .section_flash_sale .box-deal{
        height: auto;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: unset;
        background-size: cover;
    }
    .section_flash_sale .title_deal {
        max-width: 100%;
        position: relative;
        left: 0;
    }
    .section_flash_sale .box-deal .box-swi {
        background-color: #FDEAB1;
        padding: 20px 15px 20px;;
        border-radius: 10px;
        max-width: 100%;
        position: relative;
        top: 0;
    }
    .section_flash_sale .title_deal {
        left: auto;
        max-width: 100%;
        position: relative;
        top: 0px;
        display: block;
        text-align: center;
    }
    .section_flash_sale .title_deal .title_fl {
        font-size: 20px;
        padding-left: 26px;
    }
    .section_flash_sale .title_deal .title_fl:before {
        width: 16px;
        height: 30px;
        top: 3px;
    }
    .section_flash_sale .title_deal .count-down {
        margin-left: 0px;
        margin-bottom: 10px;
        display: block;
    }
    .owl-carousel .owl-nav button.owl-prev{
        left: -15px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: -15px;
    }
    .section_banner .a-banner img{
        width: 100%;
        height: auto;
    }
    .title_index h2 .main-title {
        font-size: 20px;
        line-height: 24px;
    }
    .section_sportswear .nav-tabs .nav-link {
        padding: 12px 10px;
        font-size: 16px;
    }
    .section_sportswear .row,
    .section_combo_product .row {
        display: grid;
        grid-template-rows: 1fr;
        overflow: auto;
        justify-content: start;
        grid-template-columns: repeat(5, 24%);
    }
    .section_sportswear .row,
    .section_combo_product .row {
        grid-template-columns: repeat(5, 30%);
    }
    .section_sportswear .row .col-md-3,
    .section_combo_product .row .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    footer {
        width: 100%;
        left: 0;
    }
    .section_policy .promo-box {
        padding: 10px 0px;
        max-width: 100%;
    }
    .section_policy .promo-box .icon {
        width: 40px;
        height: 40px;
        margin: 0 auto 10px;
    }
    .section_policy .promo-box .info {
        font-size: 14px;
    }
    .section_policy .promo-box span {
        font-size: 16px;
        line-height: 20px;
    }
    .section_danhgia .thump-image {
        padding: 50px 0px 40px 0px;
    }
    .section_danhgia .title-module {
        font-size: 20px;
        line-height: 24px;
    }
    .section_danhgia .title-module {
        margin-bottom: 25px;
    }
    .section_danhgia .title-module {
        font-size: 20px;
        line-height: 24px;
    }
    .section_danhgia .title-module span {
        display: block;
        font-size: 20px;
        line-height: 24px;
    }
    .section_danhgia .thump-image .thump-danhgia .content {
        padding: 50px 20px 15px;
        font-size: 14px;
    }
    .section_danhgia .thump-image .thump-danhgia .content p {
        font-size: 14px;
    }
    .section_danhgia .col-cus-8 {
        -ms-flex: 0 0 70%;
        flex: 0 0 83%;
        max-width: 83%;
    }
    .secttion_blogs .item-blog .block-content h3 a {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 18px;
        height: 38px;
    }
    .secttion_blogs .item-blog .block-content .box-blog-hid .line-clamp-3 {
        font-size: 14px;
        line-height: 18px;
        height: 55px;
    }
    .box-catelory .header-mid .header-nav .nav .dropdown-menu{
        display: none;
        position: relative;
        top: unset;
        left: 0;
        z-index: 1000;
        float: unset;
        min-width: unset;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .box-catelory .header-mid .header-nav .nav li:last-child .dropdown-menu{
        border-bottom: none;
    }
    .box-catelory .header-mid .header-nav .nav li{
        position: relative;
    }
    .box-catelory .header-mid .header-nav .nav .down_icon{
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        z-index: 11;
        top: 0;
        right: 5px;
    }
    .box-catelory .header-mid .header-nav .nav .down_icon::before{
        content: "";
        display: block;
        -webkit-mask-image: url(../images/down-arrow.webp);
        width: 12px;
        height: 12px;
        background-color: #000;
        display: inline-block;
        position: relative;
        bottom: -1px;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        margin-left: 3px;
    }
 }
 @media (max-width: 768px) {
    .section_sportswear .row,
    .section_combo_product .row {
        grid-template-columns: repeat(5, 48%);
    }
    .section_policy .promo-box .icon {
        width: 30px;
        height: 30px;
    }
    .section_policy .promo-box .info {
        font-size: 10px;
        line-height: 14px;
    }
    .section_policy .promo-box span {
        font-size: 12px;
        line-height: 16px;
    }
    .section_danhgia {
        margin-bottom: 25px;
    }
    .section_danhgia .thump-image {
        padding: 25px 0px 25px 0px;
    }
    .section_danhgia .title-module,
    .section_danhgia .title-module span {
        font-size: 18px;
        line-height: 22px;
    }
    .nav-tabs{
        width: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        flex-wrap: unset;
        padding-bottom: 15px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .nav-tabs .nav-item{
        min-width: max-content
    }
 }