:root {
    --bg-main: rgb(33, 29, 112);
    --color-main: rgb(31, 79, 155);
    --color-yellow: #FFC60A;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
  }
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: #000;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #f93;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #000;
}
div{
    line-height: 1;
}
img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 100%;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}

.row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(0.8, 0.8)
    }

    10%,20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-8deg)
    }

    30%,50%,70%,90% {
        transform: scale3d(1, 1, 1) rotate(8deg)
    }

    40%,60%,80% {
        transform: scale3d(1, 1, 1) rotate(-8deg)
    }

    100% {
        transform: scale(0.9)
    }
}

@keyframes progress_bar_fill {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/* header */

.top-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

header#header .container{
    width: 100%;
    max-width: 100%;
}
header .top-header .header-logo {
    height: 104px;
    line-height: 104px;
    padding: 5px 10px;
}

.top-header .header-logo a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-bottom: 86px;
    overflow: hidden;
}
.top-header .header-logo a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-height: 100%;
    margin: auto;
    margin-left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.top-header #btn-menu-mobile {
    display: none;
}

.top-header .list-search-key {
    text-align: left;
    margin-top: 14px;
}
.top-header .list-search-key li {
    display: inline-block;
}
.top-header .list-search-key li a {
    color: #000;
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
}
.top-header .list-search-key li a:hover {
    color: #f93;
}
.top-header .list-search-key li span {
    margin: 0px 10px;
}
.top-header .list-top-item {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.top-header .list-top-item.header_tim_kiem form.search-bar {
    margin: 6px 0;
    width: 100%;
    display: block;
}

.top-header .list-top-item.header_tim_kiem form.search-bar input {
    height: 46px;
    line-height: 46px;
    padding-right: 54px;
    min-height: initial;
    padding-left: 10px;
    z-index: 9;
    position: relative;
    background: #fff;
    border: solid 1px #f93;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    transition: all .2s .2s ease-in;
    -webkit-transition: all .2s .2s ease-in;
}
.top-header .list-top-item.header_tim_kiem form.search-bar .icon-fallback-text {
    width: 46px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    background: #f93;
    padding: 0px;
    z-index: 9;
    transition: all .2s .2s ease-in;
    -webkit-transition: all .2s .2s ease-in;
    border-radius: 5px;
}
.top-header .list-top-item.header_tim_kiem form.search-bar .icon-fallback-text svg {
    width: 46px;
    vertical-align: middle;
    height: 46px;
    padding: 8px;
}
.top-header .list-top-item.header_tim_kiem form.search-bar .icon-fallback-text svg path {
    fill: #fff;
}
/*  */
.top-header .box-swisa {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    padding-left: 35.5%;
    margin-bottom: 14px;
    margin-top: 8px;
}

.top-header .box-swisa .img_hot {
    margin-right: 10px;
}
.top-header .box-icon-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin: 8px 0px;
}
.top-header .box-icon-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin: 8px 0px;
}
.top-header .box-icon-right .header-acc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.top-header .box-icon-right .header-acc .img_acc {
    width: 46px;
    height: 46px;
    line-height: 1;
    border-radius: 5px;
    background-color: #f93;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10px;
}
.top-header .box-icon-right .header-acc .img_acc img {
    max-width: 18px;
    height: auto;
}
.top-header .box-icon-right .header-acc span {
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
    color: #000;
}

.header-action_cart {
    position: relative;
}

.header-action_cart:before {
    content: '';
    position: absolute;
    height: 46px;
    width: 40px;
}
.top-header .box-icon-right .cart-header {
    width: 46px;
    height: 46px;
    line-height: 1;
    border-radius: 5px;
    color: #fff;
    background-color: #f93;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.top-header .box-icon-right .cart-header img {
    max-width: 22px;
}
.top-header .box-icon-right .cart-header .count_item_pr {
    font-size: 10px;
    text-decoration: none;
    background-color: #F65050;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    padding: 0 2px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    top: -4px;
    right: -4px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-cart-content {
    display: none;
    position: absolute;
    top: 46px;
    right: 0px;
    background: #fff;
    padding: 0;
    text-align: left;
    box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    -o-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    -moz-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    -webkit-box-shadow: 0px 3px 25px 0px rgba(31,38,67,0.1);
    z-index: 9999;
    border-radius: 5px;
}
.CartHeaderContainer {
    width: 340px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.CartHeaderContainer .cart--empty-message {
    text-align: center;
}
.CartHeaderContainer .cart--empty-message img {
    width: 32px;
    margin: 15px;
}
.CartHeaderContainer .cart--empty-message p{
    margin-bottom: 15px;
}
.top-header .box-icon-right .cart-header:hover, .top-header .box-icon-right .cart-header:focus,
.top-header .box-icon-right .header-acc:hover .img_acc, .top-header .box-icon-right .header-acc:focus .img_acc{
    background-color: #630;
}

.header-action_cart:hover .top-cart-content {
    display: block;
}

.wrap-header-main{
    position: relative;
    background-color: #fff;
    padding-bottom: 5px;
}
.wrap-header-main .container{
    max-width: 100%;
}
.box-catelory {
    position: relative;
    width: 100%;
}
.box-catelory .header-menu {
    width: 330px;
}
.wrap-header-main .menu_mega {
    width: 100%;
    position: relative;
}
@media (min-width: 1025px){
.box-catelory {
    display: flex;
    align-items: center;
}
.menu_mega.pos_active {
    position: fixed !important;
    top: 3px;
    width: 330px;
}
}
.header-menu .title_menu {
    background-color: #f93;
    padding: 5px 2px 5px;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    padding-left: 65px;
    font-size: 16px;
}

@media (min-width: 1441px) {
    .header-menu .title_menu {
        padding: 8px 2px 8px;
        padding-left: 65px;
        font-size: 18px;
    }
}

.header-menu .title_menu .menu, .header-menu .title_menu .menu, .header-menu .title_menu .menu::before, .header-menu .title_menu .menu::after {
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}
.header-menu .title_menu .menu {
    top: 18px;
    left: 20px;
}
@media (min-width: 1441px){
    .header-menu .title_menu .menu {
        top: 23px;
    }
}

.header-menu .title_menu .menu::before {
    top: -6px;
}
.header-menu .title_menu .menu::after {
    top: 6px;
}
.header-menu .title_menu span {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
}
@media (min-width: 1025px){
.bg-aside-inde {
    height: 100vh;
}
}

.wrap-header-main .menu_mega .blog-aside {
    position: relative;
    width: 100%;
    background-color: #fff;
}
@media (min-width: 1025px) {
.wrap-header-main .menu_mega .blog-aside {
    position: absolute;
    left: 0px;
    top: 37px;
    float: left;
    width: 100%;
    height: 96vh;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    overflow-y: auto;
}
.bg-aside-inde:before {
    content: "";
    position: absolute;
    background-color: #FDEAB1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 40px;
}
.wrap-header-main .menu_mega .blog-aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}
.wrap-header-main .menu_mega .blog-aside::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #e5e5e5;
}
.wrap-header-main .menu_mega .blog-aside::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

/*  */
.header-mid {
    margin-left: 50px;
    width: calc(100% - 380px);
}
.header-mid .navigation-horizontal {
    position: static;
    display: flex;
    align-items: center;
}
.header-mid .navigation-horizontal .header-nav {
    flex: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 45px;
}
.header-mid #nav {
    position: static;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    white-space: nowrap;
}
.header-mid #nav .nav-item {
    float: none;
    position: static;
    display: inline-block;
    line-height: 40px;
}
.header-mid #nav .nav-item>a {
    color: #000;
    font-size: 16px;
    padding: 9px 30px 9px 0px;
    text-align: center;
    position: relative;
    font-weight: 500;
    line-height: 1.7;
}
.header-mid #nav .nav-item.active>a {
    color: #f93;
}
.header-mid #nav .nav-item>a .dropcon {
    -webkit-mask-image: url(../images/down-arrow.webp);
    width: 12px;
    height: 12px;
    background-color: #000;
    display: inline-block;
    position: relative;
    bottom: -1px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    margin-left: 3px;
}
.header-mid #nav .nav-item ul.dropdown-menu {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    background: #ffffff;
    position: absolute;
    border: none;
    top: 100%;
    left: auto;
    width: 250px;
    z-index: 1030;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    padding: 0px;
    white-space: initial;
    transform: translateX(-10px);
}
.header-mid #nav .nav-item li.dropdown-submenu {
    position: relative;
}
.header-mid #nav .nav-item ul.dropdown-menu li {
    padding: 0;
}
.header-mid #nav .nav-item ul.dropdown-menu li a {
    padding: 5px 15px 5px 10px;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    transition: all 0.2s;
    color: #222;
    font-size: 14px;
    display: block;
}
.header-mid #nav .nav-item ul.dropdown-menu li a:hover, .header-mid #nav .nav-item ul.dropdown-menu li a:focus {
    background-color: transparent;
    color: #f93;
}
.header-mid #nav .nav-item ul.dropdown-menu li>a .dropcon {
    transform: rotate(-90deg) !important;
}
.header-mid #nav .nav-item ul.dropdown-menu li a:hover .dropcon, .header-mid #nav .nav-item ul.dropdown-menu li a:focus .dropcon {
    background-color: #f93 !important;
}
.header-mid #nav .nav-item ul.dropdown-menu li.dropdown-submenu>a .dropcon {
    width: 12px;
    position: absolute;
    right: 6px;
    top: calc(50% - 6px);
    transition: all .4s;
    -webkit-mask-image: url(../images/down-arrow.webp);
    width: 12px;
    height: 12px;
    background-color: #000;
    display: inline-block;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}
.header-mid #nav .nav-item ul.dropdown-menu li a::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    left: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.header-mid #nav .nav-item.has-childs:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
    display: block;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}
.header-mid #nav .nav-item ul.dropdown-menu li a:hover::after, .header-mid #nav .nav-item ul.dropdown-menu li a:focus::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #f93;
}
.header-mid #nav .nav-item li.dropdown-submenu .dropdown-menu {
    left: -100%;
    top: 0;
}
.header-mid #nav .nav-item ul.dropdown-menu li.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}
.header-mid #nav .nav-item ul.dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    margin-top: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}
.header-mid #nav .nav-item .nav-item-lv3 {
    padding: 0 10px;
}
.header-mid #nav .nav-item ul.dropdown-menu li {
    padding: 0;
}
.header-mid .navigation-horizontal .header_hotline {
    display: inline-block;
    margin-left: 15px;
}
.header-mid .navigation-horizontal .header_hotline img {
    max-width: 42px;
    margin-right: 10px;
}
.header-mid .navigation-horizontal .header_hotline .txt_hotline {
    float: right;
}
.header-mid .navigation-horizontal .header_hotline .txt_hotline a {
    display: block;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #630;
}
.header-mid .navigation-horizontal .header_hotline .txt_hotline span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
}

}
@media (min-width: 1441px){
.wrap-header-main .menu_mega .blog-aside {
    top: 48px;
}
}

.wrap-header-main .menu_mega .ul_menu {
    padding: 0px;
    overflow-y: auto;
    position: initial;
    max-height: 80vh;
}
.wrap-header-main .menu_mega .ul_menu::-webkit-scrollbar-thumb {
    background-color: #f93;
    outline: 1px solid #f93;
}
.wrap-header-main .menu_mega .ul_menu::-webkit-scrollbar {
    width: 3px;
}
.wrap-header-main .menu_mega .ul_menu .nav_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.wrap-header-main .menu_mega .ul_menu .nav_item .box-menu {
    width: 100%;
    display: inline-block;
}
.wrap-header-main .menu_mega .ul_menu .nav_item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: block;
    position: relative;
    text-transform: none;
    padding: 10px 35px 10px 40px;
    word-wrap: break-word;
    color: #000;
}
@media (min-width: 992px){
    .wrap-header-main .menu_mega .ul_menu .nav_item a {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
.wrap-header-main .menu_mega .ul_menu .nav_item a {
    font-size: 18px;
}
}
.wrap-header-main .menu_mega .ul_menu .nav_item a.no-img {
    padding-left: 45px;
}
.wrap-header-main .menu_mega .ul_menu .nav_item .box-menu:hover .no-img {
    color: #f93;
}

.wrap-header-main .menu_mega .ul_menu .nav_item .box-icon-cate {
    width: 35px;
    display: inline-block;
    padding: 0px;
    position: absolute;
    left: 8px;
    top: 7px;
}
.wrap-header-main .menu_mega .ul_menu .nav_item svg {
    line-height: 42px;
    position: absolute;
    right: 0px;
    top: 2px;
    text-align: center;
    transform: translate(0, -50%);
    width: 44px;
    height: 42px;
    padding: 14px;
    z-index: 2;
    transform: rotate(270deg);
    cursor: pointer;
}
.wrap-header-main .menu_mega .ul_menu .nav_item svg.active {
    transform: rotate(90deg);
}
.wrap-header-main .menu_mega .ul_menu .nav_item .box-menu:hover svg path {
    fill: #f93;
}
.wrap-header-main .menu_mega .ul_menu .nav_item .box-menu.active .no-img {
    color: #f93;
}
.wrap-header-main .menu_mega .ul_menu .ul_content_right_1 {
    height: auto;
    margin-left: 40px;
    background: #fff;
    padding: 0px 10px 0px 10px;
    display: none;
}
.wrap-header-main .menu_mega .ul_menu .ul_content_right_1 .nav_item {
    padding: 0px;
    display: block;
}
.wrap-header-main .menu_mega .ul_menu .ul_content_right_1 .nav_item>a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 0px 0px 0px 10px;
    margin-bottom: 0px;
    position: relative;
    border-bottom: 0px;
    word-wrap: break-word;
}
.wrap-header-main .menu_mega .ul_menu .ul_content_right_1 .nav_item>a:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #000;
    top: 10px;
    left: 0;
    border-radius: 50%;
}

/* main */
main#main{
    position: relative;
    width: calc(100% - 350px);
    transition: all .5s;
    left: 350px;
}
.owl-carousel .item{
    width: 100%;
    display: block;
}

/*  */
.section_2_banner {
    position: relative;
    margin-bottom: 40px;
    margin-top: -140px;
    z-index: 2;
}
.section_2_banner .three_banner {
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 16px;
}
.section_2_banner .three_banner img {
    width: 100%;
    transform: scale(1);
    transition: all 0.5s ease;
}

.section_2_banner .three_banner:hover img {
    transform: scale(1.02);
}

.section_2_banner .col-xxl-2 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}
.section_2_banner .col-xxl-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

/*  */
.section_flash_sale {
    position: relative;
    margin-bottom: 40px;
}
.section_flash_sale .box-deal {
    padding: 15px;
    position: relative;
    border-radius: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    height: 575px;
}
.section_flash_sale .title_deal {
    max-width: 72.5%;
    position: absolute;
    left: 27.5%;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_flash_sale .title_deal .title_fl {
    color: #fff;
    position: relative;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 40px;
    line-height: 1.7;
}
.section_flash_sale .title_deal .title_fl:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0px;
    background-image: url(../images/icon_flas.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 40px;
    -webkit-animation: zoom-in-out 1500ms infinite;
    -moz-animation: zoom-in-out 1500ms infinite;
    -o-animation: zoom-in-out 1500ms infinite;
    animation: zoom-in-out 1500ms infinite;
}

.section_flash_sale .title_deal .count-down {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    background: transparent;
    margin-left: 30px;
}
@media (max-width: 1025px) {
    .section_flash_sale .title_deal .count-down {
        margin-left:0px;
        margin-bottom: 10px;
        display: block
    }
}
.section_flash_sale .title_deal .count-down .timer-view .block-timer {
    width: 50px;
    height: 50px;
    display: inline-flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background: #ee0000;
    margin: 5px 5px;
    border-radius: 5px;
    text-align: center
}

@media (max-width: 991px) {
    .section_flash_sale .title_deal .count-down .timer-view .block-timer {
        margin-bottom:10px;
        margin: 5px 5px
    }
}

@media (max-width: 1025px) {
    .section_flash_sale .title_deal .count-down .timer-view .block-timer {
        width:40px;
        height: 40px
    }
}

.section_flash_sale .title_deal .count-down .timer-view .block-timer p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px
}

@media (max-width: 1025px) {
    .section_flash_sale .title_deal .count-down .timer-view .block-timer p {
        font-size:12px;
        line-height: 18px
    }
}

.section_flash_sale .title_deal .count-down .timer-view .block-timer p b {
    display: block;
    font-size: 22px;
    line-height: 22px
}

@media (max-width: 1025px) {
    .section_flash_sale .title_deal .count-down .timer-view .block-timer p b {
        font-size:16px;
        line-height: 16px
    }
}

.section_flash_sale .title_deal .count-down .timer-view>span {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    top: 10px;
    color: #fff;
    margin: 0px 4px
}

.section_flash_sale .box-deal .box-swi {
    background-color: #FDEAB1;
    padding: 50px 80px 40px;
    border-radius: 20px 0px 20px 20px;
    max-width: 72.5%;
    position: absolute;
    right: 0px;
    top: 90px;
    width: 100%;
}

/*  */
.item_product_main {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 2px;
    box-shadow: rgba(67,71,85,0.27) 0px 0px 0.25em, rgba(90,125,188,0.05) 0px 0.25em 1em;
}
.item_product_main .product-action {
    position: relative;
    margin-bottom: 0px;
}

.item_product_main .product-action .image_thumb {
    overflow: hidden;
    width: 100%;
    display: flex;
    -o-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -os-justify-content: center;
    -o-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    -os-display: flex;
    align-items: center;
    position: relative;
    height: auto !important;
    padding-bottom: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.item_product_main .product-action .image_thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    will-change: opacify;
    transform: scale(1);
    transition: all 0.5s ease;
    transition: opacity 0.5s ease,-webkit-transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
    transition: opacity 0.5s ease,transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
    transition: opacity 0.5s ease,transform 0.5s cubic-bezier(0, 0, 0.44, 1.18),-webkit-transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
}
.item_product_main .product-action .group_action {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 135px;
}
.item_product_main .product-action .btn-anima {
    width: 100%;
    height: 36px;
    text-align: left;
    display: block;
    line-height: 36px;
    padding: 0px;
    background: #f93;
    color: #fff;
    position: relative;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 40px;
}
.item_product_main .product-action .xem_nhanh {
    height: 36px;
    text-align: left;
    display: block;
    line-height: 36px;
    padding: 0px;
    background: #f93;
    color: #fff;
    position: relative;
    margin-bottom: 5px;
    padding-left: 40px;
}
.item_product_main .product-action .btn-anima {
    transition: all 0.3s ease-in-out 0s;
    transition-delay: 0s;
    transform: scale(0);
}
.item_product_main .product-action .btn-anima img {
    width: 28px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 7px;
    border-right: 1px solid #fff;
    max-width: 100%;
    object-fit: fill;
}
.item_product_main .product-action .xem_nhanh img {
    width: 28px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 7px;
    border-right: 1px solid #fff;
    max-width: 100%;
}
@media (min-width: 992px){
.item_product_main .product-action:hover .scale_hover .image1 {
    opacity: 1;
    overflow: hidden;
    transform: scale(1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    visibility: visible;
}
}
.item_product_main .product-action:hover .btn-anima {
    transform: scale(1);
}

.section_flash_sale .result-label.temp1 {
    background: linear-gradient(to right, #ff512f, #f09819);
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding: 2px;
    padding-right: 8px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    margin-bottom: 0px;
}
.section_flash_sale .result-label.temp1 img {
    float: left;
    max-width: 18px;
    margin-right: 3px;
}
.section_flash_sale .result-label.temp1 span {
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
}
.item_product_main .product-action .sale-label {
    position: absolute;
    top: 5px;
    left: -5px;
}
.item_product_main .product-action .sale-label span {
    color: #ffffff;
    padding: 0px 25px 0px 10px;
    z-index: 0;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    clip-path: polygon(0% 0%, 100% 0, 75% 50%, 100% 100%, 0% 100%);
    background-color: #ED1B24;
}
.item_product_main .product-action .sale-label span {
    position: relative;
    display: inline-block;
}
.item_product_main .product-action .sale-label:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: transparent #B50B13 transparent transparent;
    bottom: -4px;
    left: 0px;
    filter: brightness(0.8);
}
#slide-product-sale .item{
    padding: 0 5px;
}
.item_product_main .product-action .setWishlist {
    width: 24px;
    height: 24px;
    text-align: left;
    display: block;
    line-height: 30px;
    padding: 0px;
    color: #fff;
    position: relative;
    position: absolute;
    top: 5px;
    right: 5px;
}
.item_product_main .product-info {
    padding: 1px 7px;
}
.item_product_main .product-info .product-name {
    position: relative;
    line-height: 1.4
}
.item_product_main .product-info .product-name a {
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: unset;
    line-height: 20px;
    height: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
};
.item_product_main .product-info .product-name a:hover{
    color: #f93;
}
.item_product_main .product-info .price-box {
    position: relative;
    line-height: 1;
    min-height: 21px;
    text-align: center;
}
.item_product_main .product-info .price-box .price {
    color: #EE0000;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
}
.item_product_main .product-info .price-box .compare-price {
    color: #000000;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    margin-left: 7px;
}
.section_flash_sale .productcount {
    margin-top: 10px;
    min-height: 20px;
    width: 100%;
    position: relative;
}
.section_flash_sale .productcount .countitem {
    width: 100%;
    height: 16px;
    border-radius: 7px;
    position: relative;
    background: #f93;
    z-index: 1;
    margin-top: 5px;
}
.section_flash_sale .productcount .countitem.visible {
    background: #ffd0a9;
}
.section_flash_sale .productcount span {
    font-size: 12px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    color: #fff;
    line-height: 16px;
    left: 50%;
    font-weight: 400;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -os-transform: translateX(-50%);
}
.section_flash_sale .productcount .countitem .countdown {
    position: absolute;
    height: 16px;
    border-radius: 7px;
    background-color: #f93;
    z-index: 2;
    left: 0;
    top: 0;
    background-size: 40px 40px;
    animation: progress_bar_fill 2s linear infinite;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.25) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.25) 50%, rgba(255,255,255,0.25) 75%, transparent 75%, transparent);
}
.section_flash_sale .productcount .countitem .countdown span {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    left: 100%;
    top: -10px;
}
.item_product_main .product-action .sol_out_box {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.item_product_main .product-action .sol_out_box img{
    width: max-content;
}
.item_product_main .product-action .btn-anima:hover {
    background: #630;
}
.a-center {
    text-align: center !important;
}
.section_flash_sale .productcount .countitem.sold-out .countdown {
    background: #ddd;
}
.item_product_main .product-info .price-box {
    position: relative;
    line-height: 1;
    min-height: 21px;
    text-align: center;
}
.owl-carousel .owl-nav button{
    position: absolute;
}
.owl-carousel .owl-nav button i{
    font-size: 20px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    width: 36px;
    height: 36px;
    z-index: 1;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    color: #f93;
    background-color: #fff;
    border: 1px solid #f93;
    transition: all .3s;
    -webkit-transition: all .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev{
    left: -60px;
}
.owl-carousel .owl-nav button.owl-next{
    right: -60px;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: #f93;
    color: #ffffff;
}

.more-pro-deal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-pro-deal a {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #000;
}
.more-pro-deal a .icon_more {
    -webkit-mask-image: url(../images/icon_more.webp);
    background-color: #000;
    min-width: 24px;
    min-height: 10px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    display: inline-block;
}
.more-pro-deal a:hover .icon_more {
    background-color: #f93;
}

.more-pro-deal a:hover {
    color: #f93;
}
/*  */
.section_banner {
    position: relative;
}
.section_banner .a-banner {
    display: block;
    position: relative;
    overflow: hidden;
}
.section_banner .a-banner img {
    transform: scale(1);
    transition: all .5s ease;
}
.section_banner .a-banner:hover img {
    transform: scale(1.02);
}

/*  */
.section_sportswear {
    position: relative;
    padding-top: 40px;
    background-color: #FFF5EB;
    padding-bottom: 40px;
}
.title_index {
    position: relative;
    margin-bottom: 15px;
}
.title_index h2 {
    margin-bottom: 0px;
    text-align: center;
    line-height: 1;
}
.title_index h2 .main-title {
    display: block;
    color: #630;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.title_index h2 .icon_title {
    display: inline-block;
    position: relative;
}
.title_index h2 .icon_title img {
    line-height: 1;
    display: block;
    position: relative;
    margin: 0 auto;
}
.title_index h2 .main-title:hover {
    color: #f93;
}

.nav-tabs{
    justify-content: center;
    border-bottom: none;
    margin-bottom: 15px;
}
.nav-tabs .nav-item{
    position: relative;
    background: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-tabs .nav-link{
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #000;
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
    border: 1px solid #f93;
    border-radius: 5px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #f93;
    color: #fff;
    border-color: #f93;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #f93
}

.section_sportswear .col-lg-15 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.section_sportswear .more-pro-deal {
    position: relative;
    margin: 10px 0px;
}

/*  */
.section_danhgia {
    background-color: #fff5eb;
    position: relative;
    margin-bottom: 40px;
}
.section_danhgia .thump-image {
    position: relative;
    padding: 115px 0px 95px 0px;
}
.section_danhgia .thump-image .bacground {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #fff5eb;
}
.section_danhgia .thump-image .row {
    margin-left: 0px;
    margin-right: 0px;
}
.section_danhgia .title-module {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.section_danhgia .title-module span {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}
.section_danhgia .col-cus-8 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.section_danhgia .thump-image .thump-danhgia {
    position: relative;
    margin: auto;
}
.section_danhgia .thump-image .swiper-slide {
    transition: all 200ms linear;
    transform: scale(0.9);
}
.section_danhgia .thump-image .swiper-slide.swiper-slide-active {
    transform: scale(1);
}
.section_danhgia .thump-image .thump-danhgia .avatar {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.section_danhgia .thump-image .thump-danhgia .avatar img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 900px;
    -moz-border-radius: 900px;
    border-radius: 100%;
    margin-right: 15px;
}
.section_danhgia .thump-image .thump-danhgia .content {
    color: #000;
    margin-top: -40px;
    font-size: 16px;
    font-weight: 300;
    background-color: #fff;
    padding: 55px 40px 20px;
    border-radius: 15px 15px 15px 0px;
}
.section_danhgia .thump-image .thump-danhgia .content p{
    margin-bottom: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
}
.section_danhgia .thump-image .thump-danhgia .testimonial {
    display: inline-block;
    background-color: #f93;
    border-radius: 0px 20px 0px 20px;
    padding: 3px 25px;
    margin-top: -20px;
    line-height: 18px;
}
.section_danhgia .thump-image .thump-danhgia .testimonial h5 {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}
.section_danhgia .thump-image .thump-danhgia .testimonial span {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.section_danhgia .swiper-button-next, .section_danhgia .swiper-button-prev {
    display: block;
    position: absolute;
    bottom: 0;
    width: 36px;
    height: 36px;
    z-index: 1;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    color: #f93;
    background-color: #fff;
    border: 1px solid #f93;
    transition: all .3s;
    -webkit-transition: all .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_danhgia .swiper-button-next i, .section_danhgia .swiper-button-prev i{
     font-size: 20px;
}
.section_danhgia .swiper-button-prev {
    left: -30px;
}
.section_danhgia .swiper-button-next:after, .section_danhgia .swiper-button-prev:after {
    width: 36px;
    height: 36px;
    font-size: 10px;
    color: #f93;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_danhgia .swiper-button-next {
    right: -30px;
}
.section_combo_product {
    position: relative;
    margin-bottom: 40px;
}
.section_combo_product .more-pro-deal {
    position: relative;
    margin: 10px 0px;
}
.section_combo_product .col-lg-15 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.secttion_blogs {
    margin-bottom: 80px;
}

.secttion_blogs .item-blog {
    transition: all .4s ease;
    position: relative;
    margin-bottom: 30px;
}
.secttion_blogs .item-blog .pos_a_blog {
    content: "";
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.secttion_blogs .item-blog .block-thumb {
    padding-bottom: 63%;
    overflow: hidden;
    height: auto;
    display: block;
    position: relative;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(118,167,19,0.1));
    border-radius: 7px;
}
.secttion_blogs .item-blog .block-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.secttion_blogs .item-blog .block-content {
    padding: 10px;
    position: absolute;
    bottom: 0;
    background: #f93;
    color: #fff;
    width: calc(100% - 30px);
    left: 0px;
    bottom: -25px;
    border-radius: 5px;
    z-index: 2;
    border-radius: 0px 20px 0px 20px;
}
.secttion_blogs .item-blog .block-content h3 a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 24px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 48px;
    color: #fff;
}
.secttion_blogs .item-blog .update_date {
    margin-bottom: 0px;
}
.secttion_blogs .item-blog .update_date .user_name {
    float: left;
    line-height: 1.7;
}
.secttion_blogs .item-blog .update_date .user_date {
    float: right;
    line-height: 1.7;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.box-blog-hid {
    overflow: hidden;
    position: relative;
    display: block;
    transition: 0.5s all;
    line-height: 1.7;
}
@media (min-width: 992px){
.secttion_blogs .item-blog .block-content .box-blog-hid {
    height: 0px;
}
.secttion_blogs .item-blog:hover .box-blog-hid {
    height: 105px;
}
}
.secttion_blogs .item-blog .block-content .box-blog-hid .line-clamp-3 {
    transition: all 1s ease;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 66px;
}
.secttion_blogs .item-blog .block-content .box-blog-hid .viewmore {
    font-weight: 500;
    position: relative;
    font-size: 14px;
    padding: 5px 0px;
    color: #fff;
    line-height: 20px;
    margin-top: 5px;
    border-top: 1px solid transparent;
    display: inline-block;
}
.secttion_blogs .item-blog .block-content .box-blog-hid .viewmore:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0px;
    top: 3px;
}
.secttion_blogs .item-blog .block-content .box-blog-hid .viewmore:hover {
    color: #630;
}
.secttion_blogs .more-pro-deal {
    position: relative;
    margin: 30px 0px 10px;
}

/* footer  */

footer{
    position: relative;
    width: 100%;
    transition: 0.5s all;
    width: calc(100% - 350px);
    left: 350px;
}
.section_policy {
    position: absolute;
    top: 0px;
    left: 50%;
    text-align: center;
    z-index: 3;
    transform: translate(-50%, -50%);
}
.section_policy .promo-box {
    justify-content: center;
    max-width: 80%;
    display: flex;
    background: #f93;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px;
    border-radius: 0px 20px 0px 20px;
}
.section_policy .promo-box .promo-item {
    text-align: center;
    width: 33.666666%;
    border-right: 1px solid #fff;
}
.section_policy .promo-box .icon {
    margin-bottom: 10px;
}
.section_policy .promo-box .icon {
    width: 54px;
    height: 54px;
}
.section_policy .promo-box .info {
    text-align: left;
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.section_policy .promo-box span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
@media (min-width: 991px){
.section_policy .promo-box .promo-item .icon {
    display: inline-block;
    margin-bottom: 0px;
}
.section_policy .promo-box .info {
    text-align: left;
    margin-left: 8px;
}
}

.mid-footer {
    padding: 30px 0 20px;
    background-image: url(../images/bg_footer.webp);
}
.foo-index {
    padding-top: 75px;
}
footer.footer .logo-footer img {
    max-width: 276px;
    max-height: 84px;
    margin-bottom: 15px;
}
.mid-footer .des_foo {
    color: #000;
    margin-bottom: 10px;
    font-size: 16px;
}
footer.footer .list-menu {
    margin-bottom: 5px;
}
footer.footer .list-menu.list-info {
    margin-bottom: 10px;
    font-size: 16px;
}
footer.footer .content-contact span.list_footer {
    float: left;
    color: #000;
    margin-bottom: 5px;
    line-height: 1.7;
    font-size: 16px;
}
footer.footer .content-contact span.list_footer b{
    font-size: 16px;
}

footer.footer .content-contact span.list_footer a {
    color: #f93;
    font-weight: 600;
    font-size: 16px;
}
footer.footer .content-contact span.list_footer a:hover {
    color: #630;
}

footer.footer .title-menu {
    line-height: normal;
    position: relative;
    font-size: 18px;
    margin: 0px 0 15px 0;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
@media (min-width: 991px){
footer.footer .title-menu {
    margin-top: 60px;
}
}
footer.footer .list-menu {
    margin-bottom: 5px;
}
@media (min-width: 767px){
footer.footer .list-menu.list-menu-gird {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
}
footer.footer .list-menu .li_menu a {
    padding: 5px 0;
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    display: block;
    transition: all ease 0.2s;
    line-height: calc(20/16);
}
footer.footer .list-menu .li_menu a:hover, footer.footer .list-menu .li_menu a:focus {
    color: #f93;
}
footer.footer .social-footer {
    position: relative;
    display: block;
    margin-top: 25px;
}
footer.footer .social-footer .social {
    margin-top: 10px;
    margin-bottom: 10px;
}
footer.footer .social-footer .social a {
    display: inline-block;
    width: 46px;
    font-size: 14px;
    margin-right: 25px;
    height: 46px;
    line-height: 46px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
footer.footer .social-footer .social a.fb {
    background-color: #1877f2;
}
footer.footer .social-footer .social a.tt {
    background-color: #55acee;
}
footer.footer .social-footer .social a.yt {
    background-color: #b00;
}
footer.footer .social-footer .social a.ins {
    background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%);
}
footer.footer .social-footer .social a svg {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
footer.footer .social-footer .social a svg path {
    fill: #fff;
}
footer.footer .payment-accept {
    margin-top: 25px;
}
footer.footer .payment-accept img {
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 4px 8px;
    max-width: 60px;
    margin-bottom: 3px;
    max-height: 33.14px;
    margin-right: 5px;
}
footer.footer .copyright {
    text-align: center;
    margin-bottom: 0px;
    background: #ff8000;
}
footer.footer .copyright span.wsp {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255,255,255,0.3);
}
footer.footer .copyright span.wsp .mobile {
    opacity: 1;
}
footer.footer .copyright span.wsp b {
    font-weight: 500;
}
footer.footer .copyright a {
    color: #fff;
    opacity: 1;
}
.backtop {
    position: fixed;
    bottom: 30px;
    right: 5px;
    z-index: 99;
    top: auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    background: #f93;
    text-decoration: none;
    opacity: 0 !important;
}
.backtop.show {
    opacity: 1 !important;
}
footer.footer .copyright a {
    color: #fff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backtop i {
    font-size: 24px;
}
























